:root {
    --main-color: #CE0033;
    --second-color: #F3F3F3;
    --third-color: white;
    --header-color: #262626;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.info-item{
    display: flex;
    /* justify-content: space-between; */
}

.info-item {
    font-size: 2vh;
}

.info-item p{
    margin-left: 1vh;
}

.info-item i{
    color: var(--main-color);
}

.fa-hourglass{
    margin-top: 1vh;
}

.info-formation{
    border-right: 1px solid var(--main-color);
}

.limite{
    display: flex;
    justify-content: space-between;
    font-size: 2.8vh;
    font-weight: bold;
    margin-bottom: 2vh;
}

.date{
    color: var(--main-color);
}

.contenu-candidater .button-decouvrir{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.contenu-candidater .button-decouvrir a{
    border: 1px solid var(--main-color);
    background-color: var(--third-color);
    color: var(--main-color);
    
}

.contenu-candidater .button-decouvrir a:hover{
    background-color: var(--main-color);
    color: var(--third-color);
}

.pagination{
    float: inline-end;
}

@media screen and (max-width:700px) {
    .info-formation{
        border-right: none;
    }
    /* .info-item {
        font-size: 18px;
    }
    .limite{
        font-size: 18px;
        display: grid;
        grid-template-columns: 1fr;
    } */
}