*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/* Declaration des variable pour les couleurs */
:root{
    --main-color: #CE0033;
    --second-color: #F3F3F3;
    --third-color:white;
}

.article .presse{
    border-top-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    border: none;
}

.bouton{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

.bouton:hover{
    background-color: var(--third-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}



audio::-webkit-media-controls-panel {
    background-color: #f6f6f6;
    /* border: 1px solid var(--main-color); */
  }
  


  audio::-webkit-media-controls-play-button {
    background-color: var(--main-color);
    border-radius: 50%;
    color: wheat;
  }