*{
    margin: 0;
    padding: 0;
}
/*--------------- Debut Section Menu---------- */
.Container_Menu .FirstMenu{
    background-color: #262626;
    color: white;
    position: sticky;
    top: 0;
    z-index: 6;
}


.FirstMenu ul{
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 1em;
    gap: 35px;
}

.FirstMenu ul li img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.FirstMenu ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.FirstMenu ul li:first-child{
    position: absolute ;
    left: 0;
    margin-left: 30px;
}

/* .FirstMenu ul li:nth-child(2){
    position: absolute ;
    left: 0;
    margin-left: 30px;
} */

.Social_Media i{
    background-color: white;
    color: #CE0033;
    padding: 0.4em;
    border-radius: 50%;
    margin-right: 10px;
}

/* Drop Down Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #262626;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    color: white;
   
  }

.dropdown-content a:hover {background-color: #CE0033 ;}

.dropdown:hover .dropdown-content {
  display: block;
  width: 280px;
  margin-top: 5px;
  /* height: 150px; */
}

.dropdown i{
    font-size: 12px;
}

/* Drop Down */
/*--------------------- Fin Section FirstMenu----------------- */


/*---------------------------------- Debut Section Second_Menu-----------------------------*/
.SecondMenu{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 120px;
    gap: 20px;
    margin-top: -16px;
    padding-top: 0.8em;
    flex-wrap: wrap;
    position: sticky;
    top: 62px;
    z-index: 5;
}

.SecondMenu_Image{
    position: absolute;
    left: 0;
    margin-left: 30px;
}

.SecondMenu .SecondMenu_Image img{
    max-width: 150px;
    max-height: 100px;
}

.SecondMenu_Formation img{
    max-width: 60px;
    max-height: 70px;
}


.SecondMenu_Formation{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.SecondMenu_Formation:last-child{
   margin-right: 30px;
}

.SecondMenu_Formation:hover{
    color: #CE0033;
}

/* Drop Down Menu */

  
.dropdown-content_SecondMenu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 1;
}
  
.dropdown-content_SecondMenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
.dropdown-content_SecondMenu a:hover {
  background-color: #CE0033 ; color: white;
}
  
.SecondMenu_Formation:hover .dropdown-content_SecondMenu {
  display: block;
  width: 280px;
  margin-top: 5px;
}

.dropdown i{
    font-size: 12px;
}
  
.SecondMenu_Formation:hover .dropdown-content_SecondMenu {
    display: block;
    width: 280px;
    margin-top: 50px;
    padding-top: 1.8em;
    color: #CE0033;
}

/*---------------------------------- Fin Section Second_Menu-----------------------------*/


/*----------------- Debut Section Footer ---------------------------- */
.Footer_Container{
    background-color: #262626;
    min-height: 550px;
    color: white;
}

.Section_Footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 20px;
}

.Section_Footer p{
    max-width: 200px;
}

.Section_Footer img{
    width: 30px;
    height: 30px;
}

.Section_Footer .Section_Footer_logo i{
    background-color: white;
    color: #CE0033;
    padding: 0.4em;
    border-radius: 50%;
    margin-right: 10px;
}

.Section_Footer_Newsletters{
    margin: 0 auto;
    background-color: #CE0033;
    width: 80%;
    padding: 2em;
    border-radius: 20px;
    margin-bottom: 40px;
    
}

.Section_Footer_Containt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    color: white;

}

.Section_Footer_Newsletters_Input input{
    width: 300px;
    height: 45px;
    border-radius: 12px;
    border: none;
    outline: none;
}

.Section_Footer_Newsletters_Input button{
    width: 100px;
    background-color: black;
    color: white;
    padding: 0.6em;
    border: none;
    border-radius: 8px;
}

.Section_Footer_Newsletters_Input input::placeholder{
    margin-left: 20px;
   padding-left: 20px;
}

.Copyright{
    text-align: center;
}

.Copyright i{
    color: #CE0033;
}

.Section_Footer a{
    text-decoration: none;
    color: white;
}

.Section_Footer a:hover{
    color:#CE0033;
}
/*----------------- Fin Section Footer   ----------------------------*/

.iconeBarLeft{
    opacity: 0;
}

.iconeBarRight{
    opacity: 0;
}

/*---------- Responsivité---------- */
@media screen and (max-width:950px) {
   .SecondMenu{
    display: none;
   }

   .FirstMenu ul li{
      display: none;
   }

   .FirstMenu ul li:first-child{
    display: block;
   }
   .iconeBarLeft{
      opacity: 1;
      /* margin-right: 20px; */
      margin-left: 20px;
   }
   .iconeBarRight{
    opacity: 1;
    margin-right: 20px;
    margin-left: 10px;
 }

   .iconeBarLeft:first-child{
    position: absolute;
    left: 0;
   }

   #MenuSec.menu-bar{
    display: block;
    /* top: 0; */
    right: 0;
    position: absolute;
    transition: 1s;
    /* height: 100%; */
    min-height: 100%;
    /* min-width: 800px; */
    }

    #MenuSec.menu-bar ul li{
       text-align: center;
    }  

    .Container_Securite_Banner{
        margin-top: -20px;
    }

    .Container_Securite_Card h3{
        padding-top: 2em;
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .Section_Footer{
        display: grid;
        grid-template-columns: 1fr, 1fr;
        
        justify-content: center;
        align-items: center;
    }

    .Section_Footer_Newsletters_Input button{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-bar{
        display: none;
    }

    
    /* .Container_Securite_Card h3{
        
        text-align: center;
    } */

   

}
/*-------------- Fin Responsivité -------------------*/

/*---------------- Debut Section SideBar---------------*/

#MenuSec{
    position: absolute;
    display: none;
    background-color: #262626;
    width: 100%;
    /* min-height:700px ; */
    height: auto;
    /* height: 100%; */
    margin-top: -20px;
    z-index: 3;
    color: white;
    padding: 3em;
    overflow: hidden;
    /* right: -200px; */
}

#MenuSec ul li{
    list-style: none;
    line-height: 50px;
}

#MenuSec ul li a{
    text-decoration: none;
    color: white;
}

#X_Bar{
    /* display: none; */
    position:absolute;
    top: 20px;
    right: 0;
    margin-right: 50px;
    font-size: 30px;
    margin-left: 30px;
}

.foo{
    display: block;
}
/*------------------- Fin Section SideBar-----------------*/


/* Section Accordion */

/* ---------------- --------------------------*/

/*------------------- Debut Section Contenu de la Page------------------ */
.Container_Securite_Banner{
    background-image: url('../../public/images/Securite/banner_Securite.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

.Container_Securite_Card h3{
   padding-top: 2em;
   display: flex;
   justify-content: center;
   /* margin-left: 160px; */
   margin-bottom: 25px;
}

.Card_Section_Securite{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.Container_Securite_Card .Card_Section_Securite button{
    width: 14rem;
    padding: 0.5em;
    background-color: #CE0033;
    color: white;
    display: block;
    margin: auto;
}


/*----------------- Fin Section Contenu de la Page -----------------------------*/

  

