#img{
    width: 100%;
    height: 500px;
}
#icon{
    float: right;
}
#coeur{
 height: 20px;
}
/* .card-img-top{
    margin-right: -300px;
} */
.card-body-2{
    margin-right: -0px;
}
.plate{
    gap: 15px;
    margin-left: 80px;
    margin-top: 30px;
}